html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  margin: 90px 0;
}

.center {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-item {
  width: 900px;
}